.hero-wrapper {
	position: relative;
	width: 100%;
	height: 100vh;

	.hero {
		position: relative;
		height: 100%;
		width: 100%;

		.background {
			position: relative;
			border: 1px solid red;

			.video {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
}
